<!DOCTYPE html>
<html lang="en" ng-app="CalculatorApp">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="calculator.js"></script>
<body ng-controller="CalculatorController">
<div>
    <form name="calculator" ng-submit="evaluate(expression)">
        <input type="text" ng-model="expression.string" name="calculate"><br>

        <input type="button" value="1" ng-model="expression.number" ng-click="update('1')">
        <input type="button" value="2" ng-model="expression.number" ng-click="update('2')">
        <input type="button" value="3" ng-model="expression.number" ng-click="update('3')">
        <input type="button" class="operator" ng-model="expression.operator" value="/" ng-click="enterOperator('/')"><br>

        <input type="button" value="4" ng-model="expression.number" ng-click="update('4')">
        <input type="button" value="5" ng-model="expression.number" ng-click="update('5')">
        <input type="button" value="6" ng-model="expression.number" ng-click="update('6')">
        <input type="button" class="operator" ng-model="expression.operator" value="*" ng-click="enterOperator('*')"><br>

        <input type="button" value="7" ng-model="expression.number" ng-click="update('7')">
        <input type="button" value="8" ng-model="expression.number" ng-click="update('8')">
        <input type="button" value="9" ng-model="expression.number" ng-click="update('9')">
        <input type="button" class="operator" ng-model="expression.operator" value="+" ng-click="enterOperator('+')"><br>

        <input type="button" value="0" ng-model="expression.number" ng-click="update('0')">
        <input type="button" class="clear" value="C" ng-click="clear()">
        <input type="button" class="equal" value="=" ng-click="evaluate(expression)">
        <input type="button" class="operator" ng-model="expression.operator" value="-" ng-click="enterOperator('-')">
    </form>
</div>

</body>
</html>