input[type="button"] {
    height: 60px;
    width: 60px;
    font-size:40px;
}
input[type="text"] {
    width: 248px;
    height: 40px;
    font-size: 30px;
    text-align: right;
}
.operator {
    background-color: lightblue;
}
.clear {
    background-color: lightslategray;
}
.equal {
    background-color: aquamarine;
}
