.jumbotron {
    background-color: #F2CE0E;
    text-align: center;
}
#umkc-logo {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*padding: 20px;*/
    /*width: 200px;*/
    /*height: 150px;*/
}
.btn-primary {
    background-color: #0066CC;
}

/*td {*/
    /*border: 1px solid #000;*/
    /*min-width:3em;*/
/*}*/
.bold {
    font-weight: bold;
    background-color: #DDDDDD;
}
.thead-dark {
    font-weight: bold;
    background-color: #F2CE0E;
}
body {
    padding-top: 40px;
}
.table .btn-primary {
    float: right;
}
