<!DOCTYPE html>
<html lang="en" ng-app="twitterApp">
<head>
    <meta charset="UTF-8">
    <title>Wikipedia Tree</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="TwitterCtrl">

<div class="container">
    <!--<div>-->
        <!--<img src="https://fontmeme.com/images/Wikipedia-Logo.jpg" id="logo">-->
    <!--</div>-->
    <!--<form class="form-inline">-->
        <!--<input type="text" class="form-control" ng-model="searchText">-->
        <!--<button class="btn btn-light" ng-click="search()">Search</button>-->
    <!--</form>-->

    <form class="form-inline">
        <input type="text" class="form-control" ng-model="screenName" placeholder="Enter user name">
        <button class="btn btn-light" ng-click="getFriends(screenName)">Get Friends</button>
    </form>
    <!--<ul>-->
        <!--<li ng-repeat="friend in friendsList">{{friend.screen_name}}</li>-->
    <!--</ul>-->
</div>



<!-- Bootstrap and jQuery-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="../config/tokens.js"></script>
<script src="twitter.js"></script>
<script src="script.js"></script>
</body>


</html>