@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	font-family: "Lato";
}

#green-text {
	color: green;
}

#blue-text {
	color: blue;
}

#orange-text {
	color: orange;
}

#purple-text {
	color: purple;
}

#red-text {
	color: red;
}

h1 {
	background-color: grey;
}

img	{
	height: 300px;
	width: 400px;
}
